.cloudVillage-hot-comments {
  width: 100%;
  height: 1.6rem;
  background: linear-gradient(to right, #5c6e78, #2c425a);
  color: #dfe7f2;
  padding: .32rem;
  overflow: hidden;
  .cloudVillage-hot-comments-l {
    float: left;
    width: 4.98rem;
  }

  .c-h-c-l-top {
    font-size: .34rem;
    float: left;
  }

  .cloudVillage-hot-comments-list {
    width: 4.96rem;
    font-size: .24rem;
    clear: both;
    height: .55rem;
    line-height: .55rem;
    text-align: left;
    position:relative;
    .swiper-slide{
      height: .55rem;
      width: 4.96rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .cloudVillage-hot-comments-r{
    float: right;
    .c-month{
      font-size: .3rem;
      margin-bottom: .12rem;
    }
    .c-day{
      font-size: .5rem;
      font-weight: bold;
      font-family: Arial;
    }
  }
}