.App {
  width: 100%;
  height: 100%;
}

.cv {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.cv-video {
  height: 93%;
  position: relative;
  //返回按钮
  .cv-mv-back {
    background: none;
    border: none;
    height: .4rem;
    color: white;
    font-size: .4rem;
    position: absolute;
    left: .3rem;
    top: .3rem;
    z-index: 6;
  }
  //暂停播放按钮
  .cv-mv-btn {
    position: absolute;
    z-index: 6;
    width: .6rem;
    height: .6rem;
    background: none;
    border: none;
    color: white;
    opacity: 0.5;
    font-size: .58rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}


.cv-mv-bottom {
  filter: blur(6px);
  -webkit-filter: blur(6px); /* chrome, opera */
  -ms-filter: blur(6px);
  -moz-filter: blur(6px);
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: -50%;
  z-index: 1;
}

.cv-mv-top {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

//底部 转赞评
.cv-video-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: .98rem;
  background: #010101;
  color: white;
  span{
    display:block;
    float: left;
    margin: .25rem .5rem;
    font-size: .46rem;
    z-index: 6;
    position: relative;
    i{
      font-size: .14rem;
      position: absolute;
      top: -.05rem ;
      left: .5rem ;
    }
  }
}
//user信息
.cv-video-user{
  height: 2.65rem;
  width: 100%;
  position: absolute;
  bottom: .98rem;
  z-index: 6;
  color: #f8fff8;
  padding-left: .33rem;
  text-align: left;
  span{
    display: block;
    margin: .64rem 0 .28rem ;
    font-size: .30rem;
  }
}
//user 关注
.cv-video-fouce{
  position: absolute;
  top: .23rem;
  left: 5.28rem;
  z-index: 6;
  width: 1.9rem;
  padding-right: .2rem;
  line-height: .7rem;
  font-size: .26rem;
  color: white;
  background: rgba(255,255,255,0.3);
  height: .7rem;
  border-radius: .7rem;
}
