.ygz header {
    width: 100%;
    height: 0.95rem;
    font-size: 0.33rem;
    line-height: 0.95rem;
    display: flex !important;
    box-sizing: border-box;
    padding: 0 0.28rem;
    justify-content: space-between;
}

.ygz .header i {
    font-size: 0.42rem;
}
.ygz .loginInfo{
    font-size: 0.26rem;
}
.ygz .loginInfo p{
    margin-top:0.24rem;
}
.ygz .loginInfo .loginBtn{
    border:1px solid #cdcdcd;
    height:0.76rem;
    width:7.06rem;
    margin: 0.34rem  auto;
    text-align: center;
    line-height: 0.76rem;
    border-radius: 40px;
}
.ygz .VIP{
    width:6.85rem;
    height:1.20rem;
    background:black;
    margin: 0  auto;
    color: #f2dcde;
    position: relative;
    box-shadow: 0px 10px 10px black;
}
.ygz .VIP .left{
    position: absolute;
    left:0.32rem;
    top:0.20rem;
}
.ygz .VIP .right{
    position: absolute;
    top:0.20rem;
    right:0.32rem;
}
.ygz .VIP .right span,.ygz .VIP .right i{
    font-size: 0.3rem;
}
.ygz nav{
    margin-top:0.5rem;
    padding: 0 0.64rem;
    display: flex;
    justify-content: space-between;
    font-size:0.35rem;
}
.ygz_login{
    background:red;
    width:100%
}
.ygz_login .logo{
    height:9.04rem;
    width:100%;
    position: relative;
}
.ygz_login .logo i{
    line-height: 9.04rem;
}
.ygz_login .logo .err{
    position: absolute;
    left:0.3rem;
    top:0.3rem;
    font-size: 0.5rem;
    color: #ff9873;
}
.ygz_login .loginBtn{
    width:5.52rem;
    height:0.92rem;
    background:#fff;
    color: red;
    font-size: 0.33rem;
    font-weight: 900;
    margin: 0 auto;
    border-radius: 40px;
    line-height: 0.92rem;
}
.ygz_login .rule{
    font-size: 0.3rem;
    margin-top:0.6rem;
}
.ygz_login .rule a{
    font-size: 0.3rem;
}
.ygz_login .rule span{
    color:#fff;
}
.ygz_login .rule i{
    margin-right:0.15rem;
}
.ygz_login .logos{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content:space-between;
    margin-top:0.57rem;
}
.ygz_login .logos div{
    width:0.76rem;
    height:0.76rem;
    border: 1px solid #fc5b51;
    border-radius: 50%;
    text-align: center;
    line-height: 0.76rem;
}
.ygz_login .logos div i{
    font-size: 0.43rem;
    color:#f9e9ea;
}
.ygz_login .shade{
    height:1.28rem;
    width:4.48rem;
    position: absolute;
    top:5.5rem;
    left:1.51rem;
    z-index: 999;
    background: #2f0908;
    color: #ffffff;
    font-size: 0.28rem;
    font-weight: 800;
    padding-top:0.32rem;
    border-radius: 20px;
}

.ygz_phonelogin .header{
    width:100%;
    height:1rem;
    line-height: 1rem;
    font-size: 0.33rem;
    position: relative;
}
.ygz_phonelogin .header i{
    font-size: 0.45rem;
    color: black;
    font-weight: 900;
    position: absolute;
    left:0.2rem;
}
.ygz_phonelogin .login{
    position: relative;
    padding: 0 0.3rem;
}
.ygz_phonelogin .login p{
    margin-top:1.11rem;
    font-size: 0.26rem;
    color: #b4b4b4;
    margin-bottom: 1rem;
    position: absolute;
    top:0.5rem;
    left:1rem;
}
.ygz_phonelogin .login .phone{
    font-size: 0.3rem;
    color: black;
    top:2rem;
}
.ygz_phonelogin .login .phone span{
    margin-right: 0.2rem;
}
.ygz_phonelogin .login .phone input{
    outline: none;
}
.ygz_phonelogin .login .phone{
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #e4e4e4;
}
.ygz_phonelogin .login .loginBtn{
    position: absolute;
    top:4.83rem;
    height:0.82rem;
    width:6.86rem;
    background:red;
    line-height: 0.82rem;
    border-radius: 30px;
    color:#fff;
}

.ygz_phonelogin .login .upps{
    position: absolute;
    top:3.83rem;
    left:3.2rem;
}
.ygz_phonelogin .userPhone_upPS{
    border-bottom:1px solid #e2e2e2;
    margin-top:1.25rem;
    padding: 0 0 0.3rem 0.8rem;
    display: flex;
    font-size: 0.3rem;
}
.ygz_phonelogin .upPSBtn{
    height:0.8rem;
    width:6.85rem;
    background: red;
    font-size: 0.3rem;
    line-height: 0.8rem;
    color: #fff;
    border-radius: 40px;
    margin-top:1rem;
}
.ygz_phonelogin .codeInfo{
    text-align: left;
    margin-top:1.30rem;
    margin-left:0.33rem;
    margin-right:0.33rem;
    border-bottom: 1px solid #bababa;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}
.ygz_phonelogin .codeInfo .codeTop{
    font-size: 0.3rem;
    font-weight: 900;
    margin-bottom: 0.36rem;
}
.ygz_phonelogin .codeInfo .codeDown{
    font-size: 0.23rem;
    color: #bababa;
}