@import '~antd/dist/antd.css';
*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
html,body{
    width: 100%;height: 100%;
}
#root{
    width: 100%;
    height: 100%;

}
.App{
    width: 100%;
    height: 100%;
}
.App>div{
    width: 100%;
    height: 100%;
}
.MyMusic-header-top{
    line-height: .6rem;
    background: #ff4940;
}
.MyMusic-header-Bottom{
    height: 1.5rem;
    border-bottom: 0.01rem solid #2c425a;
    overflow: auto;
}
.MyMusic-header-Bottom-Ul{
    display: flex;
    justify-content: space-around;
}
.Ul-Li{
    width: 1.4rem;
    height: 1.4rem;
}
.MyMusic-Middle{
    margin-bottom: 0.1rem;
}
.MyMusic-Middle-left{
    width: 1rem;
    line-height: .9rem;
}
.MyMusic-Middle-right{
    line-height: .5rem;
    background:#fff;
    padding: 0.2rem;
    border-bottom: 0.01rem solid #8b898a;
    flex-grow: 1;
    text-align: left;
}

.collage{
    line-height:0.8rem;
}
.collageTop{
    display:flex;
}
.turnCircle{
    width:0.8rem;height:0.8rem;
    font-size:0.6rem;
    line-height:0.7rem;
    transition:0.3s
}
.collageShow{
    height:0;overflow:hidden;
}
.rightMesg {
    padding: 0.1rem 0.3rem;
}
.footer{
    overflow: hidden;
}
.zslOnlyp{
    text-align: left;
    display: flex;
    margin: 0;
}
.zslOnlyp span{
    display: block;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
}
.zslOnlyp i{
    display: block;
    flex: 1;
    line-height: .8rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
