* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*推荐*/
.MyDj {
    padding: 0 0.2rem;
}

.MyDj h4 {
    text-align: left;
    font-weight: bold;
    margin-top: 0.2rem;
    font-size: 0.3rem;
    padding-left: 0.2rem;
}

.MyDj h3 {
    text-align: left;
    font-weight: bold;
    font-size: 0.3rem;
    padding-left: 0.6rem;
}

.recommend {
    width: 2.3rem;
    float: left;
    margin-bottom: 1rem;
    /*background: #8b898a;*/
    text-align: center;
    height: 2.5rem;
    padding: 0.1rem;
}

.coverImage {
    width: 100%;
    height: 2.3rem;
    background: #fcc;
    height: 100%;
}

.coverImage img {
    width: 100%;
    height: 100%;
}

.imageIntro {
    text-align: left;
    width: 100%;
    float: left;
    /*background: #ffc;*/
    height: 0.1rem;
}

.tuijianShow {
    display: flex;
    flex-wrap: wrap;
}

/*订阅电台*/
.orderDj {
    width: 100%;
    height: auto;
}

.orderDj h3 {
    padding: 0.2rem;
}

.sublist {
    width: 100%;
    height: auto;

}

.sublistWrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0.08rem;
}

.sublistImage {
    width: 1.5rem;
    height: 1.5rem;
}

.sublistImage img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10%;
}

.sublistImage span {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    top: -0.1rem;
    left: 1.3rem;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 0.3rem;
    color: #fff;
}

.sublistContent {
    flex: 1;
    text-align: left;
    padding: 0 0.25rem;
    /*box-sizing: border-box;*/
    /*border:1px solid #fcc;*/
}

.sublistContentName {
    font-size: 0.3rem;
    font-weight: bold;
    padding: 0.05rem 0;
}

.sublistContentText {
    padding: 0.05rem 0;
    font-size: 0.1rem;
    width: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.sublistEdit {
    line-height: 1.5rem;
    text-align: center;
    width: 1rem;
}

/*电台详情*/
.detailImg {
    width: 100%;
    height: 100%;
    position: relative;
}

.detailPic {
    width: 100%;
    height: 7.5rem;
}

.detailImg img {
    width: 100%;
    height: 100%;
}

.detailTop {
    position: absolute;
    top: 0.5rem;
    left: 0.35rem;
    font-size: 0.3rem;
    color: #fff;
}

.detailTop span {
    margin-left: 0.1rem;
}

.djDetail {
    position: absolute;
    left: 0.4rem;
    bottom: 1rem;
    color: #fff;
}

.djDetailName {
    font-size: 0.35rem;
    font-weight: bold;
}

.djDetailOrder {
    text-align: left;
}

.subscribe {
    width: 1.3rem;
    text-align: center;
    border-radius: 15%;
    border: 1px solid #fff;
    position: absolute;
    left: 5.4rem;
    bottom: 0.25rem;
}

.detailBottom {
    position: absolute;
    top: 6.8rem;
    width: 100%;
    padding: 0 0 0 0.4rem;
    background: #fff;

}

.detailBottom h3 {
    font-weight: bold;
}

.detailRoute {
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.3rem;
    color: #6a6f6b;
    border-bottom: 1px solid #cccccc;
    border-radius: 10%;
}

.leftRoute {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
}

.rightRoute {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
}

/*.active{*/
/*    color:red;*/
/*}*/
/*.details{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
.module {
    margin: 0.2rem 0;
}

.detailContent h3 {
    text-align: left;
}

.nickPic {
    width: 1.2rem;
    height: 1.2rem;
}

.nickPic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nickHead {
    display: flex;
    justify-content: space-between;
}

.hostIntroduce {
    flex: 1;
    text-align: left;
    padding: 0.2rem 0.3rem;
}

.arrow {
    font-size: 0.5rem;
    color: #ccc;
    padding: 0.1rem 0.1rem;
}

.briefIntro {
    margin: 0.2rem 0;
    text-align: left;
}

.briefStyle span {
    border: 1px solid red;
    color: red;
}
.briefText{
    padding:0.1rem 0.3rem 0.1rem 0;
}

/*.comments{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*精彩评论*/
.userProfile{
    width:0.7rem;
    height: 0.7rem;
    float: left;
}
.userProfile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.commentsContent{
    width: 6rem;
    text-align: left;
    float: left;
    padding:0.1rem 0.2rem;
}
.nickname{
    padding:0 0 0.06rem 0;
}
.discuss{
    font-size:0.3rem;
    font-weight: bold;
    padding:0.2rem 0;
}
