.SongPlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.SongPlayHeader{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    line-height: 1rem;
    background: rgba(40,40,40,0.3);
    color: #ffffff;
}
.SongPlayHeader_R span{
    font-size: 0.4rem;
    padding-right: 0.3rem;
}
.SongPlayMain{
    /*font-size: 1rem;*/
    background: #e9e9e9;
}
.SongPlayMain{
    flex: 1;
}

/*进度条*/
.progressShow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:0 0.3rem ;
}
.progressShow .ant-slider{
    width: 4.8rem;
}
.progressShow .allTime{
    padding: 0 0.1rem ;
    line-height: 0.4rem;
}
.progressShow .nowTime{
    padding: 0 0.1rem;
    line-height: .4rem;
}

.lyricShow{
    height:9.5rem;
    overflow: auto;
    font-size: 0.3rem;
    /*background: red;*/
    position: relative;
    box-shadow:0rem 0rem 1rem #a9a9a9  inset ;
}
.eveLyric{
    line-height: 0.6rem;
    height: 0.6rem;
}
#lyricGo{
    position: absolute;
    top: 4rem;
    overflow: auto;
    text-align: center;
    width: 100%;
}
#lyricGo div{
    width: 100%;
}

/**/
.icon-wrapper {
    position: relative;
    padding:0rem .6rem;
}
.icon-wrapper .anticon {
    position: absolute;
    top: -0.05rem;
    left: 0.3rem;
    width: 0.2rem;
    height: .2rem;
    line-height: 1;
    font-size: .3rem;
}
.icon-wrapper .anticon:last-child {
    right: 0.6rem;
}



.songPlayButton{
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
    align-items: center;
}
.songlistmenu{
    text-align: left;
    width: 100%;
    height: 7rem;
    overflow: auto;
}
.songlistmenu div{
    line-height: 0.7rem;
    margin-bottom: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.songlistmenu i{
    font-size: 0.4rem;
}
.songlistmenu span{
    font-size: 0.1rem;
    color: #cccccc;
}







